<div class='event-banner'>
	<% include banner %>
</div>
<section class='event-section'>
	<div class='event-main-column'>
		<% include scoreboard/scores-all %>
	</div>
	<div class='event-secondary-column'>
		<% include event-information %>
	</div>
</section>
</section>
