<h2 class='event-information-header'>
	Past Champions
</h2>
<div class='event-information-container'>
	<% for (var champion in event.champions) { %>
		<div class='event-information event-champion'>
			<p class='event-champion-year'><%- event.champions[champion].year %></p>
			<div class='event-champion-name-location'>
				<p class='event-champion-name'><%- event.champions[champion].name %></p>
				<p class='event-champion-location'><%- event.champions[champion].location %></p>
			</div>
		</div>
	<% } %>
</div>