<footer>
	<div class='main-footer-section'>
		<div class='footer-logo'>
			<img src='/images/logo.png'/>
		</div>
		<div class='footer-links-container'>
			<ul class='footer-links-list'>
				<li><a class='footer-link' href='/schedule'>Schedule</a></li>
				<li><a class='footer-link' href='/scores'>Scores</a></li>
				<li><a class='footer-link' href='/teams'>Teams</a></li>
			</ul>
			<ul class='footer-links-list'>
				<li><a class='footer-link' href='/rankings'>Rankings</a></li>
				<li><a class='footer-link' href='/players'>Players</a></li>
				<li><a class='footer-link' href='/contact'>Contact</a></li>
			</ul>
		</div>
	</div>
	<div class='disclaimer'>© <%- (new Date()).getFullYear() %> World Curling Tour <span class='footer-break-mobile'>|</span> All Rights Reserved</div>
</footer>
