<section class='scores-section section'>
	<section class='sub-section'>
		<div class='section-header scores-section-header'><h2>Scores</h2></div>
		<div class='scores-sub-section'>
			<% include scoreboard/categories %>
			<% include scoreboard/scores-all %>
		</div>
	</section>
</section>