<section class='scores-section section'>
	<section class='sub-section'>
		<h2 class='section-header scores-section-header'>Scores</h2>
		<div class='scores-sub-section'>
			<% include scoreboard/categories %>
			<% include scoreboard/scores-all %>
		</div>
	</section>
</section>