<div class='competition-list-container'>
	<ul class='competition-list'>
		<%= competitions %>
		<!--
		<li class='competition-list-item' data-id='1' >
			<div class='scores-tournament-category'>
				<div class='scores-tournament-category-title'>Men's</div>
				<div class='scores-tournament-category-icon'>
					<img src='/images/4-man-team.png'/>
				</div>
			</div>
			<div class='scores-tournament-info'>
				<div class='scores-tournament-name'>Tour Challenge</div>
				<div class='scores-tournament-location'>Regina, SK</div>
			</div>
		</li>
		<li class='competition-list-item' data-id='2'>
			<div class='scores-tournament-category'>
				<div class='scores-tournament-category-title'>Women's</div>
				<div class='scores-tournament-category-icon'>
					<img src='/images/4-man-team.png'/>
				</div>
			</div>
			<div class='scores-tournament-info'>
				<div class='scores-tournament-name'>Tour Challenge</div>
				<div class='scores-tournament-location'>Regina, SK</div>
			</div>
		</li>
		<li class='competition-list-item' data-id='3'>
			<div class='scores-tournament-category'>
				<div class='scores-tournament-category-title'>Women's</div>
				<div class='scores-tournament-category-icon'>
					<img src='/images/4-man-team.png'/>
				</div>
			</div>
			<div class='scores-tournament-info'>
				<div class='scores-tournament-name'>HDF Shootout</div>
				<div class='scores-tournament-location'>Edmonton, AB</div>
			</div>
		</li>
		<li class='competition-list-item' data-id='4'>
			<div class='scores-tournament-category'>
				<div class='scores-tournament-category-title'>Junior's</div>
				<div class='scores-tournament-category-icon'>
					<img src='/images/4-man-team.png'/>
				</div>
			</div>
			<div class='scores-tournament-info'>
				<div class='scores-tournament-name'>Stu Sells Junior Womens Tankard (W)</div>
				<div class='scores-tournament-location'>Oakville, ON</div>
			</div>
		</li>
	</ul>-->
</div>