<div class='scores-container'>
		<div class='scores-header'>
			<h2 class='scores-header-competition-title'>Competition Name</h2> 
			<div class='scores-tabs'>
				<h3 class='scores-tab-title active'>Scores</h3>
				<h3 class='scores-tab-title'>Standings</h3>
				<h3 class='scores-tab-title'>Bracket</h3>
			</div>
		</div>
		<div class='scores-info-container'>
			<div class='scores'>
				<div data-id='1' class='games-container'>
					<div class='game-time'>3:30pm ET.</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brendan Bottcher
								</div>
								<div class='scores-score'>5</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Reid Carruthers
								</div>
								<div class='scores-score'>4</div>
							</div>
						</div>
						<div class='scores-end-container'>
							7th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									John Epping
								</div>
								<div class='scores-score'>8</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Niklas Edin
								</div>
								<div class='scores-score'>2</div>
							</div>
						</div>
						<div class='scores-end-container'>
							Final (7)
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
				</div>
				<div data-id='2' class='competition-container'>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
				</div>
				<div data-id='3' class='competition-container'>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
				</div>
				<div data-id='4' class='competition-container'>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
					<div class='game-container'>
						<div class='scores-teams-container'>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Brad Jacobs
								</div>
								<div class='scores-score'>3</div>
							</div>
							<div class='scores-team-container'>
								<div class='scores-team-name'>
									Mike Mcewen
								</div>
								<div class='scores-score'>1</div>
							</div>
						</div>
						<div class='scores-end-container'>
							8th end
						</div>						
					</div>
				</div>
			</div>
		</div>
		
	</div>