<section class='contact-section'>
	<div class='contact-banner banner' style='background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.8)), url(/images/banners/contact.jpg);'>
		<h1 class='banner-title'>Contact Us</h1>
	</div>
	<div class='contact-info-container'>
		
	</div>
</section>