@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
/* Colors */
@black: #333;
@main: #316D89;

/* Screens */
@large-desktops:  ~"only screen and (min-width: 1401px)";
@desktop:   ~"only screen and (max-width: 1400px)";
@tablets:    ~"only screen and (max-width: 1029px)";
@mini-tablets:    ~"only screen and (max-width: 719px)";
@smartphones:    ~"only screen and (max-width: 479px)";

/* Global */
* {
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
table {
	border-collapse: collapse;
}
.section {
	padding: 40px 20px
}
.sub-section {
	max-width: 1200px;
    margin: auto;
}
.section-header {
    padding: 20px 30px;
    background: rgba(255,255,255,0.6);
    color: #316d89;
    font-size: 40px;
}
/* animations */
@keyframes live-indicator-length-animation {0%{-webkit-transform:translateX(-100%)}5%{-webkit-transform:translateX(0%)}10%{-webkit-transform:translateX(100%)}15%{-webkit-transform:translateX(100%)}20%{-webkit-transform:translateX(0%)}25%{-webkit-transform:translateX(-100%)}100%{-webkit-transform:translateX(-100%)}}
/* Navigation Bar */
.nav-logo-container {
    position: fixed;
    width: 100%;
    background: white;
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 10px 20px;
	z-index:3;
	border-bottom: 1px solid #ddd;
}
.nav-list {
	list-style:none;
}
.nav-list-item {
	display:inline-block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: @black;
}
.nav-list-item-link {
	padding: 5px 0;
	margin: 0 5px;
	&:hover {
		color: @main;
	}
}
.logo-container img {
	width: 175px;
	&.small {
		width: 100px;
	}
}
/* Banner */

.banner {
	height: 600px;
	height: 90vh;
	width: 100%;
	background-size: cover;
}
.banner-title {
    color: white;
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 70px;
	left: 0;
}

/* Scores */
.scores-sub-section {
	padding: 0;
	display:-ms-flex;
	display:-webkit-flex;
	display:flex;
	background: white;
}
.competition-list-container {
	border-bottom: 2px solid #eee;
}
.competition-list {
	list-style:none;
	display:flex;
	flex-flow:column;
}
.competition-list-item {
	border-right: 2px solid #eee;
    border-top: none;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
	width: 200px;
	background: white;
	border-bottom: 3px solid rgba(0,0,0,0);
	&:first-child {
		border-left: 2px solid #eee	;
	}
	&.active, &:hover {
		border-bottom: 3px solid @main;
		background: #eee;
	}
}
.scores-tournament-category {
    display: flex;
    justify-content: space-between;
	margin-bottom: 10px;
}
.scores-tournament-category-icon {
	height: 25px;
	img {
		height: 100%;
	}
}
/* SCOREBOARD */
.scores-section {
	background: #ccc;
}
.scores-section-header {
	background: rgba(255,255,255,0.6);
}
.scores-container {
	flex: 1;
}
.scores-container .scores-info-container {
	display: none;
	&.active {
		display: block;
	}
}
.scores-tournament-category-title {
	font-size: 16px;
}
.scores-tournament-name {
	font-size: 22px;
}
.scores-tournament-location {
	font-size: 14px;
	color: #666;
}
.scores-header {
	display:flex;
	justify-content: space-between;
	padding: 0px 20px;
	height: 40px;
    line-height: 40px;
	margin-bottom: 30px;
}
.scores-header-title {
    font-size: 26px;
    padding: 5px 0;
    text-transform: uppercase;
}
.scores-tabs {
	font-size: 0;
}
.scores-tab-title {
	display: inline-block;
    border-left: 1px solid rgba(255,255,255,0.5);
    padding: 0 10px;
	margin: 0 5px;
    height: 100%;
	font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
	cursor:pointer;
	&.active {
		border-bottom: 2px solid @main;
	}
}
/* Games */
.games-container {
	max-width: 100%;
    margin: auto;
    text-align: center;
    text-align-last: left;
    font-size: 0;
	margin: 15px 0;

}
.game-container {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    font-weight: 100;
	@media @large-desktops {
		width: 33.3%;
	}
	@media @desktop {
		width: 50%;
	}
	
}

.game-time-name {
    font-size: 16px;
    font-weight: 100;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
.scores-teams-container {
    border-right: 1px solid #ddd;
    padding: 0 10px 0 0;
	font-size: 18px;
	width: 200px;
}
.scores-team-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.scores-score {
    margin: 0 0 0 10px;
}
.scores-info-container {
	padding: 0 20px;
}
.scores-end-container {
	position:relative;
    margin: 0 10px;
	font-size: 15px;
	color: @main;
	padding: 0 0 3px 0;
    overflow: hidden;
	&:after {
		content:"";
		position:absolute;
		bottom: 0px;
		height: 2px;
		background: @main;
		width: 100%;
		left: 0;
		-webkit-transform-origin: left;
		    -webkit-transform: scaleX(0);
		animation: live-indicator-length-animation 12s 1s infinite alternate cubic-bezier(0.75,0, 0.25, 1);
	}
}

/* standings */
.standings-table {
    width: 100%;
    text-align: center;
    max-width: 800px;
    margin: auto;
}
.standings-pool-header {
	padding: 5px 20px;
    font-size: 20px;
    border-top: 1px solid @main;
    border-bottom: 1px solid @main;
	text-align: left;	
}
.standings-table-data {
	padding: 10px;	
	border-bottom: 1px solid #ccc;
}
.standings-team-flag {
	img {
		width: 70px;
		height: auto;
	}
}